<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Place your daily weigh-in here..." %>
  </div>
  <%= f.file_field :weighinpic %>
  <%= f.submit "Weigh in!", class: "btn btn-large btn-primary" %>
<% end %>